# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# build files
.DS_Store
venv
compile_commands.json
build
fakeroot
release.json
# build repos
xnu
AvailabilityVersions
dtrace
bootstrap_cmds
libdispatch
libplatform
Libsystem
# patches
bsd/sys/make_symbol_aliasing.sh
libsyscall/Libsyscall.xcconfig
makedefs/MakeInc.def
osfmk/arm64/machine_routines.c
# CodeQL
xnu-codeql
xnu-codeql.zip
xnu-queries
codeql_queries
