name: XNU CodeQL

on:
  push:
    branches: [main]
    paths-ignore:
      - "*.md"
      - Makefile
      - .cirrus.yml
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        macos-version: ["26.2"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Deps
        run: |
          # brew update
          brew install bash blacktop/tap/ipsw
          # cmake brew fix TODO remove when fixed
          brew uninstall cmake || true
          brew install cmake
          # sudo ipsw dl kdk --host --install
          sudo xcode-select -s /Applications/Xcode_26.1.app

      - name: kmutil help # This is to check for what flags are available
        run: |
          sysctl -n kern.bootobjectspath || true
          sw_vers
          kmutil inspect

      # - name: Cache JSONDB
      #   id: cache-jsondb
      #   uses: actions/cache@v4
      #   with:
      #     path: .cache/${{ matrix.macos-version }}/compile_commands.json
      #     key: ${{ matrix.macos-version }}-jsondb

      - name: Build XNU JSON compilation database
        if: steps.cache-jsondb.outputs.cache-hit != 'true'
        run: |
          MACOS_VERSION='${{ matrix.macos-version }}' MACHINE_CONFIG=VMAPPLE JSONDB=1 bash -x build.sh
          zip -j xnu-${{ matrix.macos-version }}-jsondb.zip .cache/${{ matrix.macos-version }}/compile_commands.json

      - name: Build XNU
        run: |
          MACOS_VERSION='${{ matrix.macos-version }}' MACHINE_CONFIG=VMAPPLE KC_FILTER='com.apple.driver.SEPHibernation|com.apple.iokit.IOACPIFamily' bash -x build.sh
          # ipsw macho info fakeroot/oss-xnu.macOS.${{ matrix.macos-version }}.kc.vmapple
          ls -lah fakeroot/System/Library/Kernels/
          cp fakeroot/System/Library/Kernels/kernel.release.vmapple .
          echo "$(shasum -a 256 kernel.release.vmapple)"
          shasum -a 256 kernel.release.vmapple > kernel.release.vmapple.sha256

      - name: Build XNU library
        run: |
          MACOS_VERSION='${{ matrix.macos-version }}' MACHINE_CONFIG=VMAPPLE bash -x build.sh --lib
          tar -czf xnu-lib-${{ matrix.macos-version }}.tar.gz -C build/xnu-lib.obj libkernel.release.vmapple.a RELEASE_ARM64_VMAPPLE
          echo "$(shasum -a 256 xnu-lib-${{ matrix.macos-version }}.tar.gz)"
          shasum -a 256 xnu-lib-${{ matrix.macos-version }}.tar.gz > xnu-lib-${{ matrix.macos-version }}.tar.gz.sha256

      - uses: actions/upload-artifact@v6
        with:
          name: xnu-build-${{ matrix.macos-version }}
          path: |
            fakeroot/System/Library/Kernels/
            # fakeroot/oss-xnu.macOS.${{ matrix.macos-version }}.kc.vmapple

      - uses: actions/upload-artifact@v6
        with:
          name: xnu-lib-${{ matrix.macos-version }}
          path: |
            xnu-lib-${{ matrix.macos-version }}.tar.gz
            xnu-lib-${{ matrix.macos-version }}.tar.gz.sha256

      - name: Build XNU CodeQL Database
        run: |
          MACOS_VERSION='${{ matrix.macos-version }}' MACHINE_CONFIG=VMAPPLE bash -x codeql.sh
          mv xnu-codeql.zip xnu-codeql-${{ matrix.macos-version }}.zip
          echo "$(shasum -a 256 xnu-codeql-${{ matrix.macos-version }}.zip)"
          shasum -a 256 xnu-codeql-${{ matrix.macos-version }}.zip > xnu-codeql-${{ matrix.macos-version }}.zip.sha256

      - uses: actions/upload-artifact@v6
        with:
          name: xnu-codeql-${{ matrix.macos-version }}
          path: |
            xnu-codeql-${{ matrix.macos-version }}.zip
            xnu-codeql-${{ matrix.macos-version }}.zip.sha256

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          ls -lah
          gh release upload v${{ matrix.macos-version }} --clobber kernel.release.vmapple
          gh release upload v${{ matrix.macos-version }} --clobber kernel.release.vmapple.sha256
          gh release upload v${{ matrix.macos-version }} --clobber xnu-codeql-${{ matrix.macos-version }}.zip
          gh release upload v${{ matrix.macos-version }} --clobber xnu-codeql-${{ matrix.macos-version }}.zip.sha256
          gh release upload v${{ matrix.macos-version }} --clobber xnu-${{ matrix.macos-version }}-jsondb.zip
          gh release upload v${{ matrix.macos-version }} --clobber xnu-lib-${{ matrix.macos-version }}.tar.gz
          gh release upload v${{ matrix.macos-version }} --clobber xnu-lib-${{ matrix.macos-version }}.tar.gz.sha256
